.serach{
    flex:1;
    display:flex;
    flex-direction: column;
    overflow-y:auto;
    li{
        height: 120px;
        margin:10px;
        border-bottom:1px solid #ccc;
        position:relative;
        figure{
            display:flex;
        }
        figcaption{
            flex:1;
            padding-left:20px;
            
            h4{
                font-size:16px;
                margin:10px 0;
            }
            p{
                font-size: 16px;
            }
            p:nth-of-type(2){
                font-size:16px;
                color:red;
                line-height:20px;
                margin-top:10px;
                i{
                    color:skyblue;
                    font-size:18px;
                    float:right;
                    margin-right:10px;
                }
            }
        }
        img{
            float:left;
            height: 100px;
            width: 120px;
            
        }
    }
}
