.my{
    flex:1;
    overflow-y:auto;
   
    
    .details{
        padding:40px;
        font-size:16px;
        ul{
            padding:10px 20px;
            li{
                line-height:30px;
                border-bottom:1px dashed #ccc;
            }

        }
         &>li >p{
                line-height:30px;
            }
    }
    .topay{
        width:100%;
        text-align:center;
        margin:50px 0;
        button{
            width: 200px;
            height: 50px;
            font-size:18px;
            background:skyblue;
            color:#fff;
        }
    }
    .review{
        width:100%;
        text-align:center;
        textarea{
            width: 80%;
            padding:10px;
            height: 200px;
            margin:20px auto;
            font-size:16px;
            border:1px solid #666;
        }
        p{
            margin:20px;
            font-size:20px;
            text-align:center;
            i{
                color:skyblue;
            }
        }
        .rate_x{
            
            .el-rate {
                height:40px;
                span {
                font-size:20px;
                i{font-size:20px;}
            }
            }
            
        }
    }
    .rate{
        width:100%;
        
        text-align:center;
        margin:10px 0;
        button{
            width: 100px;
            height: 40px;
            font-size:18px;
            background:skyblue;
            color:#fff;
        }
    }
    
}