.el-header {
        background-color: #FA5555;
        color: #fff;
        height:60px;
        font-size: 18px;
        font-weight: bold;
        line-height: 60px;
}
.el-container{
    overflow:hidden;
    position:relative;
}
.delete{
    font-size:18px;
    position:absolute;
    top:10px;
    color:red;
    right:8px;
}
.cuisine{
    padding:10px 0;

    li{
        height: 120px;
        margin-bottom:10px;
        border-bottom:1px solid #ccc;
        position:relative;
        figure{
            display:flex;
        }
        figcaption{
            flex:1;
            padding-left:15px;
            
            h4{
                font-size:14px;
                margin:15px 0;
            }
            p{
                font-size:14px;
            }
            p:nth-of-type(2){
                font-size:16px;
                color:red;
                line-height:20px;
                margin-top:10px;
                i{
                    color:skyblue;
                    font-size:18px;
                    float:right;
                    margin-right:10px;
                }
            }
        }
        img{
            float:left;
            height: 100px;
            width: 120px;
            
        }
    }
}

.el-button span{
    font-size:18px;
}